/****************************/
/*          BUTTONS         */
/****************************/

%btn-placeholder {
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn {
  &:link,
  &:visited {
    display: inline-block;
    @extend %btn-placeholder;
  }

  &:hover,
  &:active {
    transform: translateY(-3px);
  }

  &--primary {
    background-color: $color-primary;
    color: #fff;
  }

  &--simple {
    background-color: transparent;
    color: #333;
  }

  &--outline {
    background-color: transparent;
    border: 2px solid $color-primary-light;
    color: $color-primary;
  }

  &--lg {
    padding: 1.6rem 3.2rem;
  }

  &--sm {
    padding: 1.2rem 2.4rem;
  }

  &--xs {
    padding: 0.8rem 1.6rem;
  }
}

.btn-arrowed {
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    @extend %btn-placeholder;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: -3rem;
  }

  &__title {
    transition: all 0.3s;
  }

  &:hover &__icon {
    animation: slideInLeft 0.5s 0.1s ease-out backwards;
    right: 1.5rem;
  }

  &:hover &__title {
    transform: translateX(-1.5rem);
  }
}
