.property {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: $column-gap;
  column-gap: $column-gap;

  &__box {
    border-radius: 11px;
    overflow: hidden;
    background-color: $color-white;
    box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.05);
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__text-box {
    padding: 2.4rem;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
