/****************************/
/*          BASE            */
/****************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //10 / 16 = 0.625 * 100 = 62.5% = 1rem = 10px
  font-size: 62.5%;

  @include responsive(big-desktop) {
    font-size: 75%;
  }

  @include responsive(tab-landscape) {
    font-size: 56.25%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #464646;
  line-height: 1;
}
