/****************************/
/*        UTILITIES         */
/****************************/

.u-text-center {
  text-align: center;
}

.u-margin-right-sm {
  margin-right: 1.2rem;
}

.u-margin-right-md {
  margin-right: 3.2rem;
}
