/****************************/
/*          MIXINS          */
/****************************/

@mixin container($width) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 3.2rem;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
//1800 - 112.5em
//1200 - 75em
//900 - 56.25em
//800 - 50em
//480 - 30em
//320 - 20em

// ORDER: Base + Typopgraphy > General Layout + Grid > Page Layout > Components

@mixin responsive($breakpoint) {
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-landscape {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == tab-portrait {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-small {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 30em) {
      @content;
    }
  }

  @if $breakpoint == phone-xs {
    @media only screen and (max-width: 20em) {
      @content;
    }
  }
}
