/****************************/
/*        VARIABLES         */
/****************************/

$color-primary: #087f5b;
$color-primary-dark: #fff;
$color-primary-light: #fff;

$color-secondary: #fff;

$container-width-lg: 130rem;
