/****************************/
/*        VARIABLES         */
/****************************/
$color-primary: #087f5b;
$color-primary-dark: #04402e;
$color-primary-light: #52a58c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #484848;

$color-white: #fff;
$color-yellow: #fcc419;
$color-orange: #ff922b;
$color-blue: #339af0;

//CONTAINER
$container-width-lg: 120rem;
$container-width-sm: 100rem;

//GUTTER
$row-gap: 9.6rem;
$column-gap: 6.4rem;
