/****************************/
/*        VARIABLES         */
/****************************/

$color-primary: #087f5b;
$color-primary-dark: #fff;
$color-primary-light: #fff;

$color-secondary: #fff;

//CONTAINER
$container-width-lg: 120rem;
$container-width-sm: 100rem;

//GUTTER
$row-gap: 8rem;
$column-gap: 6.4rem;
