/****************************/
/*        FUNCTIONS         */
/****************************/
/****************************/
/*          MIXINS          */
/****************************/
/****************************/
/*        VARIABLES         */
/****************************/
/****************************/
/*        ANIMATIONS        */
/****************************/
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(2rem); }
  80% {
    opacity: 0.7; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  80% {
    transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-25rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/****************************/
/*          BASE            */
/****************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #464646;
  line-height: 1; }

/****************************/
/*        TYPOGRAPHY        */
/****************************/
.heading-primary {
  font-size: 6.2rem;
  font-weight: 900;
  letter-spacing: -0.7px;
  line-height: 1.05;
  animation: moveInRight 1.5s ease-out;
  text-align: center; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2; }

.subheading {
  font-size: 1.6rem;
  line-height: 1.6; }

/****************************/
/*        UTILITIES         */
/****************************/
.u-text-center {
  text-align: center; }

.u-margin-right-sm {
  margin-right: 1.2rem; }

.u-margin-right-md {
  margin-right: 3.6rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.2rem; }

.u-margin-bottom-md {
  margin-bottom: 3.6rem; }

.u-margin-bottom-xl {
  margin-bottom: 9.6rem !important; }

.achievement {
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(10%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  .achievement__box {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: #fff;
    padding: 1.6rem 2.4rem;
    border-radius: 11px;
    box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.08); }
    .achievement__box--1 {
      animation: moveInTop 1s 0.5s backwards; }
    .achievement__box--2 {
      animation: moveInTop 1s 1s backwards; }
    .achievement__box--3 {
      animation: moveInTop 1.3s 1.2s backwards; }
    .achievement__box--4 {
      animation: moveInTop 1.3s 1.5s backwards; }
  .achievement__icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #087f5b; }
  .achievement__number {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.4rem; }
  .achievement__text {
    font-size: 1.2rem;
    line-height: 1.2; }

/****************************/
/*          BUTTONS         */
/****************************/
.btn:link, .btn:visited, .btn-arrowed:link, .btn-arrowed:visited {
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.3s; }

.btn:link, .btn:visited {
  display: inline-block; }

.btn:hover, .btn:active {
  transform: translateY(-3px); }

.btn--primary {
  background-color: #087f5b;
  color: #fff; }

.btn--simple {
  background-color: transparent;
  color: #333; }

.btn--lg {
  padding: 1.6rem 3.2rem; }

.btn--sm {
  padding: 1.2rem 2.4rem; }

.btn-arrowed:link, .btn-arrowed:visited {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  position: relative;
  overflow: hidden; }

.btn-arrowed__icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: -3rem; }

.btn-arrowed__title {
  transition: all 0.3s; }

.btn-arrowed:hover .btn-arrowed__icon {
  animation: slideInLeft 0.5s 0.1s ease-out backwards;
  right: 1.5rem; }

.btn-arrowed:hover .btn-arrowed__title {
  transform: translateX(-1.5rem); }

.property {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 6.4rem;
  column-gap: 6.4rem; }
  .property__box {
    border-radius: 11px;
    background-color: #fff;
    box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.05);
    overflow: hidden; }
  .property__img {
    width: 100%;
    filter: brightness(0.7); }
  .property__text-box {
    padding: 1.2rem 2.4rem;
    z-index: 20; }
  .property__type {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.4rem 1.2rem;
    border-radius: 100px;
    margin-bottom: 1.6rem;
    color: #f9f7f6;
    background-color: #52a58c; }
  .property__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 0.4rem; }
  .property__location {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2.4rem; }
  .property__icon {
    width: 2rem;
    height: 2rem;
    color: #087f5b; }
  .property__address {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #aaa; }
  .property__description {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 1.2rem; }
    .property__description span {
      color: #52a58c;
      display: inline-block;
      margin-left: 0.4rem;
      cursor: pointer; }
  .property__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    align-items: center; }

/****************************/
/*          FOOTER          */
/****************************/
/****************************/
/*          GRIDS           */
/****************************/
.container-lg {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.container-sm {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.d-grid {
  display: grid;
  row-gap: 8rem;
  column-gap: 6.4rem; }

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-center-v {
  align-items: center; }

.grid-center-h {
  justify-content: center; }

/****************************/
/*          HEADER          */
/****************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }
  .header__logo-box {
    width: auto;
    cursor: pointer; }
  .header__logo {
    font-size: 2rem;
    font-weight: 900; }
  .header__register-box {
    display: flex;
    align-items: center;
    gap: 3.2rem; }

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  position: relative; }
  .hero::before, .hero::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border: 3px dotted #e6f2ef; }
  .hero::before {
    width: 15rem;
    height: 20rem;
    top: 0;
    left: 8%;
    transform: rotate(-15deg); }
  .hero::after {
    width: 15rem;
    height: 25rem;
    bottom: -10%;
    right: 3%;
    transform: rotate(15deg); }
  .hero__top-col {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    justify-items: center; }
  .hero__description {
    font-size: 2rem;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 4.8rem; }
  .hero__img {
    width: 100%;
    border-radius: 11px;
    position: relative; }

.seenon__text {
  font-size: 1.4rem;
  text-transform: uppercase;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr max-content 1fr;
  margin-bottom: 3.2rem;
  gap: 1.2rem;
  letter-spacing: 1.5px; }
  .seenon__text::before, .seenon__text::after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: #777; }
  .seenon__text::before {
    justify-self: end; }
  .seenon__text::after {
    justify-self: start; }

.seenon__logos {
  display: flex;
  gap: 6.4rem;
  align-items: center;
  justify-content: center; }

.seenon__logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 30%; }

/****************************/
/*        NAVIGATION        */
/****************************/
.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.3s;
  color: #333; }

/****************************/
/*            HOME          */
/****************************/
.section-hero {
  padding: 3.2rem 0; }

.section-about {
  padding: 9.6rem 0; }

.about__achievements {
  position: relative; }

.about__img {
  width: 100%;
  border-radius: 11px; }

.about__content {
  padding: 4.8rem 6.4rem; }

.about__heading {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 2.4rem; }

.about__paragraph {
  font-size: 1.6rem;
  line-height: 1.6; }

.section-featured {
  padding: 6.4rem 0; }

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.control__btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  border: 2px solid #ccc;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s; }
  .control__btn:not(:last-child) {
    margin-right: 1.2rem; }
  .control__btn:hover {
    background-color: #ccc; }

.control__icon {
  width: 2.4rem;
  height: 2.4rem; }
