/****************************/
/*          HEADER          */
/****************************/

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 3.2rem;

  @include responsive(tab-portrait) {
    justify-content: flex-start;
  }

  &__logo-box {
    width: auto;
    cursor: pointer;
  }

  &__logo {
    height: 2.2rem;
  }

  &__register-box {
    @include responsive(tab-portrait) {
      margin-left: auto;
      margin-right: 3.2rem;
    }

    @include responsive(phone-xs) {
    }
  }

  &__mobile-nav {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;

    @include responsive(tab-portrait) {
      display: block;
      z-index: 9999;
    }
  }

  &__mobile-icon {
    width: 4.8rem;
    height: 4.8rem;
    color: #464646;
  }

  &__mobile-icon[name="close-outline"] {
    display: none;
  }
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
