.hero {
  @include container($container-width-lg);
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border: 3px dotted #e6f2ef;
  }

  &::before {
    width: 15rem;
    height: 20rem;
    top: 0;
    left: 8%;
    transform: rotate(-15deg);
  }

  &::after {
    width: 15rem;
    height: 25rem;
    bottom: -10%;
    right: 3%;
    transform: rotate(15deg);
  }

  &__top-col {
    max-width: $container-width-sm;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    justify-items: center;

    @include responsive(phone-xs) {
      padding: 0;
    }
  }

  &__description {
    font-size: 2rem;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 4.8rem;
    animation: moveInLeft 1.5s ease-out;

    @include responsive(phone) {
      font-size: 1.6rem;
      line-height: 1.6;
    }
  }

  &__img {
    width: 100%;
    border-radius: 11px;
    position: relative;
  }
}

.seenon {
  @include responsive(tab-small) {
    padding: 2.4rem 0;
  }

  &__text {
    font-size: 1.4rem;
    text-transform: uppercase;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr max-content 1fr;
    margin-bottom: 3.2rem;
    gap: 1.2rem;
    letter-spacing: 1.5px;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 50%;
      height: 1px;
      background-color: #777;
    }

    &::before {
      justify-self: end;
    }

    &::after {
      justify-self: start;
    }
  }

  &__logos {
    display: flex;
    gap: $column-gap;
    align-items: center;
    justify-content: center;

    @include responsive(tab-portrait) {
      gap: 4.8rem;
    }

    @include responsive(phone) {
      flex-wrap: wrap;
    }
  }

  &__logo {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 30%;

    @include responsive(tab-small) {
      height: 2.4rem;
    }

    @include responsive(tab-small) {
      height: 2rem;
    }
  }
}
