/****************************/
/*        NAVIGATION        */
/****************************/
.navigation {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 1.6rem;
      transition: all 0.3s;
      color: #333;
    }

    &:hover,
    &:active {
    }
  }
}
