/****************************/
/*            HOME          */
/****************************/
.section-hero {
  padding: 3.2rem 0;
}

.section-about {
  padding: 9.6rem 0;
}

.about {
  &__achievements {
    position: relative;
  }

  &__img {
    width: 100%;
    border-radius: 11px;
  }

  &__content {
    padding: 4.8rem 6.4rem;
  }

  &__heading {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 2.4rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.section-property {
  padding: 6.4rem 0;
}

.section-testimonials {
  background-color: #e6f2ef;
  display: grid;
  grid-template-columns: 44fr 55fr;
  align-items: center;
}

.section-agents {
  padding: 9.6rem 0;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  &__btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    border: 2px solid #ccc;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }

    &:hover {
      background-color: #ccc;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
